@import 'tailwindcss';
@plugin '@tailwindcss/typography';


/*  see: https://www.youtube.com/watch?v=m7YDWNz65iI */
:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-family: Poppins, "Segoe UI", sans-serif;
  color: var(--text-color)
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}

main {
  padding: min(5em, 7%)
}

main p {
  margin-top: 0.35em;
}